/* default 설정 .....*/

html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	background: #FFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #000000;
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
}

p, ol, ul
{
	margin-top: 0;
}

ol, ul
{
	padding: 0;
	list-style: none;
}

p
{
	line-height: 180%;
}

a
{
	text-decoration: none;
}

a:hover
{
	text-decoration: none;
}

.container
{
	overflow: hidden;
	margin: 0em auto;
	width: 1000px;
}

#staff
{
	padding: 5em 0em;
	text-align: center;
}
